body {
    background-color: #d0d0f5;
    margin-left: 500px;
    margin-right: 300px;
}
h1, h2 {
    font-family: Georgia, serif;
 text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    display: block;
    margin-top: -1%;
}
.hr2 {
margin-top: 1%;
}
button {
    margin-left: 35%;
    outline-color: rgb(4, 116, 190);
    background-color: rgb(76, 136, 247);
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
}
p, p2, p3 {
    margin-right: 50%;
}
p4 {
    margin-left: 50%;
    margin-right: 50%;
}